## Standard scaling

In [20]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [11]:
df ={
    'age': [25,30,35,40,45 ],
    'height': [165,170,175,180,185],
    'weight' : [55,60,65,70,80]
}
df= pd.DataFrame(df)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      80

In [12]:
#import scaller
scaler = StandardScaler()

#fit
scaled = scaler.fit_transform(df)
scaled

array([[-1.41421356, -1.41421356, -1.27872403],
       [-0.70710678, -0.70710678, -0.69748583],
       [ 0.        ,  0.        , -0.11624764],
       [ 0.70710678,  0.70710678,  0.46499055],
       [ 1.41421356,  1.41421356,  1.62746694]])

In [16]:
scaled1 = pd.DataFrame(scaled, columns=df.columns)

In [17]:
scaled1

        age    height    weight
0 -1.414214 -1.414214 -1.278724
1 -0.707107 -0.707107 -0.697486
2  0.000000  0.000000 -0.116248
3  0.707107  0.707107  0.464991
4  1.414214  1.414214  1.627467

# Min max scaller

In [21]:
#import scaller
scaler = MinMaxScaler()

#fit
scaled = scaler.fit_transform(df)
scaled = pd.DataFrame(scaled, columns =df.columns)
scaled.head()

    age  height  weight
0  0.00    0.00     0.0
1  0.25    0.25     0.2
2  0.50    0.50     0.4
3  0.75    0.75     0.6
4  1.00    1.00     1.0

## MAX abs scaller

In [22]:
scaler = MaxAbsScaler()

#fit
scaled = scaler.fit_transform(df)
scaled = pd.DataFrame(scaled, columns =df.columns)
scaled.head()

        age    height  weight
0  0.555556  0.891892  0.6875
1  0.666667  0.918919  0.7500
2  0.777778  0.945946  0.8125
3  0.888889  0.972973  0.8750
4  1.000000  1.000000  1.0000